<div class="header-cont">
    <div>
        <i class="bi bi-robot robo"></i>
        <span class="logo">DOC chatBot</span>
    </div>

    <div class="cont">
        <div class="user-circle"></div>
        <!-- <span class="user">Test User</span> -->
        <div class="dropdown">

             <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Test User </button>
            
             <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>   
         </div>
    </div>
</div>