.file-content1{
    overflow: auto;
    padding:20px;
    height:400px;
    background-color:#C3B5FF;

  }

.dialog-cont{
    overflow: auto;
    height:80vh;
    background-color:#C3B5FF;

    


  }
.dialog-header{
    display:flex;
    justify-content: flex-end;
    margin:20px;
  }